
body {
    background-color: #5f5b5b;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 4rem;
    align-self: center;
    border-radius: 10px;
}

.table {
    display: flex;;
    flex:1;
    width: 820px;
    flex-direction: column;
    background-color: #353333;
    padding: 3rem;
    align-self: center;
    border-radius: 10px;
}

.black-card {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    border-width: 0.2rem;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: left;
    font-family: arial;
    font-size: medium;
    width: 7rem;
    height: 10rem;
}

.white-center-card {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    border-width: 0.2rem;
    border-style: solid;
    border-color: #000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: left;
    font-family: arial;
    font-size: medium;
    width: 7rem;
    height: 10rem;
    transition: all 0.3s ease-in-out;
    margin-left: -75px;
}

.white-card {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    border-width: 0.2rem;
    border-style: solid;
    border-color: #000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: left;
    font-family: arial;
    font-size: medium;
    width: 7rem;
    height: 10rem;
    transition: all 0.2s ease-in-out;
}

.white-card:hover {
    cursor: pointer;
    z-index: 100;
}


.hand-card {
    margin-left: -75px;
    transition: all 0.2s ease-in-out;
    animation: none;
}

.hand-card:hover {
    transform: translateY(-75px) !important;
}

.hand-card:first-child {
    margin-left: 0px;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    gap: 1rem;
}

.line-counter {
    height: 0.5rem;
    margin-top: -0.5rem;
    border-radius: 0 0 0 10px;
    background: #6a6a80;
    transition: all 0.5s ease-in-out;
}